---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Austin Crinklaw">
	<h1 class="mb-6 text-lg">Hello World!</h1>
      <p>
        Hi, I'm Austin Crinklaw. I'm a senior bioinformatics scientist working
        at <a href="https://empiri.co">Empirico</a>, an siRNA therapeutics
        company. I work as the primary developer for our internal software
        platform designed to faciliate the drug development process.
      </p>
</Layout>

<style>
</style>
